body {
  background-color: brown;
}
nav {
  background-color: beige;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
}
nav h1 a {
  font-size: 29px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav button {
  border: none;
  background-color: beige;
}

nav button a {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
}



